<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
  <h5 class="my-0 mr-md-auto font-weight-normal">Brand Name</h5>
  <nav class="my-1 my-md-0 mr-md-1">
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </nav>

  <a class="btn btn-primary" [routerLink]="['/login']">Login</a>

  <a class="btn btn-secondary" [routerLink]="['/register']">Register</a>
</div>
<router-outlet></router-outlet>
